.breadcrumbs {
    .container {
        height: 148px;
        @include flex-positioning(space-between, center);
    }

    background-color: #f8f3f4;


    &__h2 {
        @include text(24px, null, 700, $text-pink);
    }

    &__wrapper {}

    &__menu {
        @include flex-positioning();
    }

    &__link {
        @include text(14px, null, 300, #636363, none);

        &_active {
            color: $text-pink;
            font-weight: 700;
        }

        &_hover:hover {
            color: $text-pink;
        }

    }
}

.products-area {
    @include flex-positioning();
    margin-top: 59px;

    &__side-nav {
        //width: 257px;
        //margin-right: 150px;

        &-details {
            margin-bottom: 19px;
        }

        &-details[open] .products-area__side-nav-summary-arrow {
            transform: rotate(180deg);
            top: 15px;
        }

        &-details[open] summary {
            color: $text-pink;
            font-weight: 700;
        }

        &-summary {            
            cursor: pointer;
            display: block;
            text-transform: uppercase;
            padding: 12px 173px 15px 11px;
            position: relative;
            border-left: 5px solid $text-pink;
            border-bottom: 1px solid #ebebeb;
            @include text(14px, null, 700, #6f6e6e);

            &::-webkit-details-marker {
                display: none;
            }

            &-arrow {
                position: absolute;
                top: 10px;
                left: 242px;
            }

            &:focus {
                outline: none;
            }

            &:hover {
                @include hover-shadow1;
            }
        }

        &-menu {
            padding-left: 16px;
            padding-top: 22px;
        }

        &-link {
            @include text(14px, 33px, 400, #6f6e6e, none);

            &_hover:hover {
                color: $text-pink;
            }
        }
    }

    &__main {
        margin-left: 31px;

        &-filter {
            @include flex-positioning(space-between);

            &-block {
                &:first-child {}

                &-menu {
                    @include flex-positioning($flex-flow: row wrap);
                    margin: 0 -13px;
                    width: 206px;

                    li:nth-child(3) a,
                    li:last-child a {
                        //border-right: none;                        
                        border-right: none;
                    }
                }

                &-h4 {
                    text-transform: uppercase;
                    @include text(14px, null, 700, #6f6e6e);
                    margin-bottom: 17px;
                    padding-top: 12px;
                }

                &-link {
                    @include text(14px, 26px, 400, #6f6e6e, none);
                    border-right: 1px solid #dfdfdf;
                    //padding-right: 12px;
                    padding: 0 13px;

                    &_hover:hover {
                        color: $text-pink;
                    }
                }
            }

            &-label {
                @include text(14px, 20px, 400, #6f6e6e);
            }

            &-checkbox {
                display: none;

                &-wrapper {
                    display: flex;
                    flex-wrap: wrap;
                    width: 249px;
                    margin-left: -20px;
                }

                &-custom {
                    position: relative;
                    width: 13px;
                    height: 13px;
                    border: 1px solid #ebebeb;
                    background-color: #fff;
                    margin-left: 20px;
                }

                &-label {
                    margin-left: 9px;
                    line-height: 26px;
                    cursor: pointer;
                }

                &-custom,
                &-label {
                    display: inline-block;
                    vertical-align: middle;
                }

                &:checked+&-custom:before {
                    content: "";
                    display: block;
                    position: absolute;
                    top: 2px;
                    right: 2px;
                    bottom: 2px;
                    left: 2px;
                    background-color: $text-pink;
                }
            }

            &-range {}

            &-output {
                @include text(14px, null, 400, #6f6e6e);
                display: block;
                margin-top: 21px;
            }

            &-sort {                                
                @include flex-positioning(null, center);
                padding-left: 10px;
                box-sizing: border-box;
                margin-bottom: 48px;
                margin-top: 41px;

                &-wrapper {                    
                    margin-right: 10px;

                }

                @include text(14px, null, 400, #6f6e6e);
                background-color: #f3f3f3;
                height: 50px;

                &-name {
                    display: inline-block;
                    padding: 10px;
                    background-color: #fff;
                    border: 1px solid #ebebeb;
                    margin-right: -3px;
                }

                &-details {
                    display: inline-block;
                    background-color: #fff;
                    border: 1px solid #ebebeb;
                    border-left: none;

                    &[open] i {
                        transform: rotate(180deg);
                        top: 12px;
                    }

                }

                &-summary {
                    padding: 10px 39px 10px 10px;
                    position: relative;

                    &:focus {
                        outline: none;
                    }

                    i {
                        position: absolute;
                        right: 7px;                        
                        top: 7px;
                    }
                }

                &-summary::-webkit-details-marker {
                    display: none;
                }
            }
        }
    }    
}

.products-pagination {
    @include flex-positioning(space-between, center);
    margin-top: 43px;
    margin-bottom: 110px;
    
    &__menu {
        @include flex-positioning();
        margin: 0 -9px;
        padding: 15px;
        border: 1px solid #ebebeb;
        border-radius: 3px;
        
        li:first-child  {
            transform: rotate(180deg);
        }
    }

    &__link {
        @include text(16px, null, 400, $text-gray1, none);
        margin: 0 9px;

        &_hover:hover {
            color: $text-pink;
        }

        &_active {
            color: $text-pink;
        }

        &-last-page {
            margin-left: -9px;
            &:before {
                content: '......'
            }
        }                
    }

    &__view-all {
        @include text(16px, null, 400, $text-gray1, none);
        padding: 16px 45px;
        border: 1px solid #ebebeb;
        border-radius: 3px;

        &_hover:hover {
            border-color: $text-pink;
            color: $text-pink;
        }
    }
}