// Для текста 
@mixin text($size: null, $line-height: null, $weight: null, $color: null, $text-decoration: null, $letter-spacing: null) {
    font-size: $size;
    line-height: $line-height;
    font-weight: $weight;
    color: $color;
    text-decoration: $text-decoration;
    letter-spacing: $letter-spacing;
}


@mixin flex-positioning($justify-content: null, $align-items: null, $flex-flow: null) {
    display: flex;
    justify-content: $justify-content;
    align-items: $align-items;
    flex-flow: $flex-flow;
}

@mixin hover-shadow1 {
    box-shadow: 0px 0px 3px 3px $text-gray1;
}
//Стилизация placeholder
@mixin placeholder($size, $line-height, $weight, $color) {
    &::-webkit-input-placeholder {
        font-size: $size;
        line-height: $line-height;
        font-weight: $weight;
        color: $color;
    }

    &::-moz-placeholder {
        font-size: $size;
        line-height: $line-height;
        font-weight: $weight;
        color: $color;
    }

    &:-moz-placeholder {
        font-size: $size;
        line-height: $line-height;
        font-weight: $weight;
        color: $color;
    }

    &:-ms-input-placeholder {
        font-size: $size;
        line-height: $line-height;
        font-weight: $weight;
        color: $color;
    }
}

//Замедление перехода
@mixin transition($values: null) {
    transition: $values;
}