$primary-dark: #222222;
$primary-white: #ffffff;
$secondary-white: #f7f7f7;
$primary-pink: #f16d7f;
$primary-gray: #a4a4a4;
$secondary-gray: #898989;
$third-gray: #e6e6e6; // for footer background only
$red: #ff0d0d;


$text-white: $primary-white;
$text-dark: $primary-dark;
$text-pink: $primary-pink;
$text-gray1: $primary-gray;
$text-gray2: $secondary-gray;
$background-gray: $third-gray;
$text-red: $red;
